<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-bg">  <!-- reuse your background -->

<div class="login-box">
    <h2>Create Account</h2>

    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="mobile" placeholder="Mobile Number" required>

        <!-- Role -->
        <select name="role" style="width:95%; padding:10px; margin:10px 0;">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>

        <button type="submit">Register</button>
    </form>

    <p style="margin-top:15px;">
        Already have an account?
        <a href="/login-form">Login</a>
    </p>
</div>

</body>
</html>
