<!DOCTYPE html>
<html>
<head>
    <title>Report Emergency</title>
</head>
<body>
    <h2>Report Emergency</h2>

    <form action="/report" method="POST">
        <input type="text" name="name" placeholder="Your name" required><br><br>
        <input type="text" name="issue" placeholder="Issue" required><br><br>
        <input type="text" name="location" placeholder="Location" required><br><br>
        <input type="text" name="mobile" placeholder="Mobile Number" required>

        <button type="submit">Submit</button>
    </form>
  

</body>
</html>
